﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ระบบรายงานข่าว";
}

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>


<div class="jumbotron" style="background-color: #581845 ;">
    <center><h2 style="color: white;">ระบบรายงานข่าวโดยประชาชนเพื่อประชาชน</h2></center>
</div>

<div class="row">
    <div id="mapid" style="height: 400px;"></div>
    <script>
        var mymap = L.map('mapid').setView([6.99, 100.48], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(mymap);
        L.marker([6.99, 100.48]).addTo(mymap).bindPopup('ที่นี่ <b>หาดใหญ่ </b> จ้า');
        @foreach(var item in Model.News){
            <text>
                L.marker([@item.GpsLat, @item.GpsLng]).addTo(mymap).bindPopup("@item.NewsDetail<br>Status- @item.NewsStatus");
            </text>
        }
    </script>
</div>

    
@foreach (var item in Model.NewsCategory){
    <div class="row">
        <h3>@Html.DisplayFor(model=>item.ShortName)</h3>
        <h4>@Html.DisplayFor(model=>item.FullName)</h4>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <div class="row">
                    <div class="col-md-2" style="background-color: aqua;">วันที่เกิดเหตุ</div>
                    <div class="col-md-7" style="background-color: #D1FF7E ;">เนื้อข่าว</div>
                    <div class="col-md-3" style="background-color: #FC69FE ;">สถานะการยืนยัน</div>
                </div>
            </thead>
            <tbody>
                @foreach (var items in Model.News){
                    if(items.NewsCategoryID == item.NewsCategoryID){
                        <div class="row">
                            <div class="col-md-2">
                                @Html.DisplayFor(modelItem => items.ReportDate)
                            </div>
                            <div class="col-md-7">
                                @Html.DisplayFor(modelItem => items.NewsDetail)
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayFor(modelItem => items.NewsStatus)
                            </div>
                        </div>
                    }
                }
            </tbody>
        </table>
    </div>
}

<div class="container">
    <div class="row">
        <h3> ข่าวทั้งหมดในระบบ</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>หมวดข่าว</th>
                    <th>วันที่เกิดเหตุ</th>
                    <th>เนื้อข่าว</th>
                    <th>สถานะการยืนยัน</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.News)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsDetail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsStatus)
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
</div>
