@page
@model PharmacyOwner.Pages.StoreAdmin.CreateModel
@using Microsoft.AspNetCore.Identity
@using PharmacyOwner.Models
@inject SignInManager<NewUser> SignInManager
@inject UserManager<NewUser> UserManager
@{
    ViewData["Title"] = "สร้างร้านขายยา";
}

<h1>สร้างร้านขายยา</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ชื่อร้าน :
                <input asp-for="Store.StoreName" class="form-control" />
                <span asp-validation-for="Store.StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                คำอธิบายของร้าน :
                <input asp-for="Store.StoreDescribe" class="form-control" />
                <span asp-validation-for="Store.StoreDescribe" class="text-danger"></span>
            </div>
            <div class="form-group">
                สร้างโดย : @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
                <input type="hidden" asp-for="Store.NewUserId" class ="form-control" value="@UserManager.GetUserId(User)"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
