@page
@model PharmacyOwner.Pages.StoreAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.StoreDescribe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreDescribe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.postUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Store.StoreID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
