@page
@model PharmacyOwner.Pages.StoreAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.StoreDescribe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreDescribe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.postUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Store.StoreID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
