@page
@model PharmacyOwner.Pages.StoreAdmin.IndexModel
@using Microsoft.AspNetCore.Identity
@using PharmacyOwner.Models
@inject SignInManager<NewUser> SignInManager
@inject UserManager<NewUser> UserManager
@{
    ViewData["Title"] = "สร้างร้านขายยา";
}

<h1>สร้างร้านขายยา</h1>

<p>
    <a asp-page="Create">เพิ่มร้านขายยาของคุณ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อร้าน :
            </th>
            <th>
                คำอธิบายของร้าน :
            </th>
            <th>
                ผู้เป็นเจ้าของร้าน :
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Store) {
    if(UserManager.GetUserId(User) == item.postUser.Id){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreDescribe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName)
                @Html.DisplayFor(modelItem => item.postUser.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StoreID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StoreID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StoreID">Delete</a>
            </td>
        </tr>
    }  
}
    </tbody>
</table>
