@using Microsoft.AspNetCore.Identity
@using PharmacyOwner.Models
@inject SignInManager<NewUser> SignInManager
@inject UserManager<NewUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">โปรไฟล์คุณ @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <ul>
                <a href="/StoreAdmin">สร้างร้านค้า</a>
            </ul>
            <ul>
                <a href="/DrugAdmin">สร้างสินค้า</a>
            </ul>
            <ul>
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">ออกจากระบบ</button>
            </ul>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
