@page
@model PharmacyOwner.Pages.DrugAdmin.CreateModel
@using Microsoft.AspNetCore.Identity
@using PharmacyOwner.Models
@inject SignInManager<NewUser> SignInManager
@inject UserManager<NewUser> UserManager
@{
    ViewData["Title"] = "สร้างสินค้า";
}

<h1>สร้างสินค้าหรือยา</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                เลือกร้านค้าของคุณ
                <select asp-for="Drug.StoreID" class ="form-control">
                    @foreach (var item in Model.Store)
                    {
                        if(item.postUser.Id == UserManager.GetUserId(User)){
                            <option value="@item.StoreID">@item.StoreName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                ชื่อยา :
                <input asp-for="Drug.DrugName" class="form-control" />
                <span asp-validation-for="Drug.DrugName" class="text-danger"></span>
            </div>
            <div class="form-group">
               ราคา :
                <input asp-for="Drug.DrugPrice" class="form-control" />
                <span asp-validation-for="Drug.DrugPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนสิ้นค้า :
                <input asp-for="Drug.DrugLeft" class="form-control" />
                <span asp-validation-for="Drug.DrugLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Drug.NewUserId" class ="form-control" value="@UserManager.GetUserId(User)"/>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้าง" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
