@page
@model PharmacyOwner.Pages.DrugAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Drug</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.Stores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.Stores.StoreID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.DrugName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.DrugPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.DrugLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.postUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Drug.DrugID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
