@page
@model PharmacyOwner.Pages.DrugAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Drug</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.Stores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.Stores.StoreID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.DrugName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.DrugPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.DrugLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drug.postUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drug.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Drug.DrugID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
