@page
@model PharmacyOwner.Pages.DrugAdmin.EditModel
@using Microsoft.AspNetCore.Identity
@using PharmacyOwner.Models
@inject SignInManager<NewUser> SignInManager
@inject UserManager<NewUser> UserManager
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Drug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Drug.StoreID" class="control-label"></label>
                <select asp-for="Drug.StoreID" class="form-control" asp-items="ViewBag.StoreID"></select>
                <span asp-validation-for="Drug.StoreID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Drug.DrugID" />
            <div class="form-group">
                <label asp-for="Drug.DrugName" class="control-label"></label>
                <input asp-for="Drug.DrugName" class="form-control" />
                <span asp-validation-for="Drug.DrugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drug.DrugPrice" class="control-label"></label>
                <input asp-for="Drug.DrugPrice" class="form-control" />
                <span asp-validation-for="Drug.DrugPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drug.DrugLeft" class="control-label"></label>
                <input asp-for="Drug.DrugLeft" class="form-control" />
                <span asp-validation-for="Drug.DrugLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Drug.NewUserId" class="form-control" value="@UserManager.GetUserId(User)"/>
                <span asp-validation-for="Drug.NewUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
