@page
@model PharmacyOwner.Pages.DrugAdmin.IndexModel
@using Microsoft.AspNetCore.Identity
@using PharmacyOwner.Models
@inject SignInManager<NewUser> SignInManager
@inject UserManager<NewUser> UserManager
@{
    ViewData["Title"] = "สินค้าในร้านของคุณ";
}

<h1>สินค้าในร้านของคุณ</h1>

<p>
    <a asp-page="Create">เพิ่มสินค้า</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ร้าน :
            </th>
            <th>
                ชื่อยา :
            </th>
            <th>
                ราคา :
            </th>
            <th>
                จำนวนยาคงเหลือ :
            </th>
            <th>
                ผู้สร้างสินค้า :
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drug) {
    if(UserManager.GetUserId(User) == item.postUser.Id){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stores.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DrugID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DrugID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DrugID">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
