@page
@model NewsReport.Pages.NewsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>ลบหัวข้อหมวดข่าว</h2>

<h3>คุณแน่ใจหรือจะลบหัวข้อหมวดข่าวนี้?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อย่อของหมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
            ชื่อเต็ม/คำอธืบายหมวด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NewsCategory.NewsCategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
