﻿@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using PharmacyOwner.Models
@inject SignInManager<NewUser> SignInManager
@inject UserManager<NewUser> UserManager
@{
    ViewData["Title"] = "Pharmacy Owner";
}

<div class="jumbotron" style="Background-color : #EDDEA4;">
    <h1 class="text-center">ระบแสดงสินค้าร้านยา</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h3 id="Store" class="text-center">ร้านขายยา</h3>
    </div>
</div>
<br>
@foreach (var item in Model.Store) {
    <div class="row" style="text-align: center;">
        <div class="col-md-3">
            <div class="row" style="text-align:center; font-weight: bold; Background-color : #17D4FE;">
                <h4 id="StoreName">@Html.DisplayFor(modelItem => item.StoreName)</h4>
            </div>
            <div class="row">
                <p style="text-align: left;">คำอธิบายร้านค้า : &nbsp; @item.StoreDescribe</p>
            </div>
            <div class="row">
                <p style="text-align: left;">ผู้เป็นเจ้าของร้าน : &nbsp; @item.postUser.FirstName @item.postUser.LastName</p>
            </div>
            @if(item.postUser.Id == UserManager.GetUserId(User)){
                <div class="row">
                    <a href="/DrugAdmin">แก้ไขสินค้า</a>
                </div>
            }
        </div>
        <div class="col-md-9">
            <div class="row" style="font-weight: bold; Background-color : #EDDEA4;">
                <div class="col-md-4">
                    <h4>ชื่อยา</h4>
                </div>
                <div class="col-md-3">
                    <h4>ราคา</h4>
                </div>
                <div class="col-md-3">
                    <h4>จำนวนคงเหลือ</h4>
                </div>
                <div class="col-md-2">
                    <h4>สถานะ</h4>
                </div>
            </div><hr>
            
            @foreach (var items in Model.Drug) {
                @if(@items.StoreID == @item.StoreID){
                    <div class="row">
                        <div class="col-md-4">
                            @Html.DisplayFor(modelItem => items.DrugName)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(modelItem => items.DrugPrice)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(modelItem => items.DrugLeft)
                        </div>
                        <div class="col-md-2">
                            @if(items.DrugLeft > 20){
                                <p style="background-color: #74FF52;">เหลืออีกเยอะ</p>
                            }else if(items.DrugLeft > 0){
                                <p style="background-color: #FFDB39;">ไกล้จะหมด</p>
                            }else if(items.DrugLeft < 1){
                                <p style="background-color: red;">หมด</p>
                            }
                        </div>
                    </div><hr>
                }
            }    
        </div>
    </div>
}
